{% extends "layout.html" %}
{% block content %}
{% for i in range(9) %}
    <div>
        {% for j in range(9) %}
            {% if graph.node[nodes[i][j]]['status'] %}
                <input class="box" type="text" value="{{ graph.node[nodes[i][j]]['color'] }}" maxlength="1">
            {% else %}
                <select class="box">
                    {% for k in range(graph.node[nodes[i][j]]['color']|length) %}
                        <option>{{ graph.node[nodes[i][j]]['color'][k] }}</option>
                    {% endfor %}
                </select>
            {% endif %}
        {% endfor %}
    </div>
{% endfor %}
<a href="/index"><button>BACK</button></a>
{% endblock %}